@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.Weather {
  max-width: 565px;
  margin: 20px auto 5px;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  color: rgb(44, 43, 43);
  font-family: "Oswald", sans-serif;
  border: 1px solid grey;
  border-radius: 6px;
}

.Form {
  margin: 7px 10px;
}

h2 {
  text-transform: capitalize;
  margin: 10px;
}

.Current-weather {
  font-size: 20px;
  margin: 0 10px;
}

.Current-date {
  font-size: 20px;
}

hr {
  margin: 0 10px;
}

.Description,
.Divider,
strong,
.Unit {
  position: relative;
  top: -68px;
  left: 100px;
}

strong {
  font-size: 25px;
}

.form-control {
  margin-bottom: 15px;
}

#Search-button {
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  border: none;
  color: rgb(44, 43, 43);
}

.Wind {
  margin-top: 35px;
  margin-left: 50px;
}

a {
  color: rgb(68, 18, 161);
}

footer {
  max-width: 565px;
  display: block;
  margin: 0 auto;
  font-size: 11px;
  font-family: monospace;
}

.Weather canvas {
  margin: 15px 15px 0;
}
